{erl_opts, [debug_info]}.

{deps, [
    {alcove, "0.40.3"}
]}.

{post_hooks, [
    {compile, "bin/procname"}
]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        "LICENSE"
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/msantos/prx"}
]}.

{hex, [{doc, ex_doc}]}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        race_conditions,
        underspecs
    ]}
]}.
