{erl_opts, [debug_info]}.
{deps, [
    {alcove, {git, "git://github.com/msantos/alcove.git", {branch, "master"}}}
    ]}.

{post_hooks, [
    {compile, "mkdir -p priv"},
    {compile, "ln -s -f "
        "`[ -e $REBAR_CHECKOUTS_DIR/alcove/priv/alcove ] && "
            "echo $REBAR_CHECKOUTS_DIR/alcove/priv/alcove || "
            "echo $REBAR_DEPS_DIR/alcove/priv/alcove` "
            "priv/prx"}
    ]}.
