{erl_opts, [debug_info]}.
{deps, [
    {alcove, "0.29.0"}
    ]}.

{post_hooks, [
    {compile, "bin/procname"}
    ]}.

{profiles, [
    {docs, [
        {deps, [
            {edown, "0.8.1"}
            ]},
        {edoc_opts, [
            {report_missing_types, true},
            {doclet, edown_doclet},
            {pretty_printer, erl_pp},
            {src_path, ["src/"]},
            {stylesheet, ""},
            {image, ""},
            {app_default,"http://www.erlang.org/doc/man"}
%            {top_level_readme, {"./README.md", "http://github.com/msantos/prx"}}
            ]}
        ]
    }]
}.

{dialyzer, [
    {warnings, [
        unmatched_returns,
        error_handling,
        race_conditions,
        underspecs
    ]}]}.
